.tab {
    width: 840px;
    height: 650px;
    max-width: 100%;
    margin: auto;
}

.tab-list {
    display: flex;
}

.tab-list-item {
    height: 40px;
    width: 90px;
    border-bottom: 4px solid black;
    line-height: 40px;
    text-align: center;
    font-size: 10pt;
    float: left;
    cursor: pointer;
    background-color: white;
    color: black;
}

.is-btn-active {
    background-color: black;
    color: white;
    border: none;
}

.forms {
    margin-top: 10px;
}

td {
    text-align: center;
}

.cname {
    width: 100px;
    text-align: center;
    height: 40px;
    border: none;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}

td.cname_t {
    width: 102px;
}


.cbutton {
    width: 40px;
    text-align: center;
    height: 40px;
    font-size: 14pt;
}

.base {
    display: flex;
    flex-direction: row;
    /*
    width: 100vw;
    height: 100vh;
*/
}

.class1 {
    background: rgb(249, 251, 229);
    border-radius: 10px;
}

.class2 {
    background: rgb(216, 255, 254);
    border-radius: 10px;
}

.class3 {
    width: 450px;
    background: rgb(249, 251, 229);
    border-radius: 10px;
}

.lineset {
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.zu {
    width: 360px;
    height: 260px;
}

.leg {
    margin-top: 190px;
    position: absolute;
    width: 69px;
    height: 10px;
    transform-origin: left 5px;
}

.leg.fr {
    margin-left: 140px;
    background: orange;
}

.leg.fl {
    margin-left: 140px;
    background: blue;
}

.leg.hr {
    margin-left: 290px;
    background: orange;
}

.leg.hl {
    margin-left: 290px;
    background: blue;
}

.picow {
    position: absolute;
    margin-top: 70px;
    width: 150px;
    height: 30px;
    margin-left: 135px;
    background: gray;
}

.robobody {
    position: absolute;
    margin-top: 100px;
    width: 240px;
    height: 105px;
    margin-left: 95px;
    background: gray;
}

.robohead {
    position: absolute;
    margin-top: 10px;
    width: 40px;
    height: 150px;
    margin-left: 75px;
    background: gray;
    transform: rotate(30deg);
}

.tb_buttons {
    position: absolute;
    margin-top: 0px;
}

.ta {
    width: 40px;
}

.na {
    width: 80px;
    text-align: center;
}

.selb {
    width: 88px;
    text-align: center;
}

.tit {
    width: 80px;
    text-align: center;
}

.tit.lft {
    background: blue;
    color: white;
}

.tit.rit {
    background: orange;
    color: black;
}

.tit.sel {
    background: rgb(162, 255, 0);
    color: black;
}

input.update {
    width: 90px;
    height: 35px;
    border-radius: 8px;
    font-size: 10pt;
    background-color: black;
    color: white;
}

input.update_cmd {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    font-size: 11pt;
    background-color: blue;
    color: white;
}


input.update_motion {
    width: 80px;
    height: 35px;
    border-radius: 8px;
    font-size: 8pt;
    background-color: darkorange;
    color: white;
}

.motionlist {
    width: 420px;
    table-layout: fixed;
}

.mlistnum {
    text-align: right;
}

.mlistbtn {
    width: 35px;
    height: 26px;
    border-radius: 8px;
    font-size: 10pt;
    background-color: blue;
    color: white;
}

.mlbtn {
    width: 35px;
    height: 26px;
    border-radius: 8px;
    font-size: 10pt;
    background-color: lightgray;
    color: black;
}

.mlbtn.is-btn-active {
    background-color: black;
    color: white;
}


#tbmode td {
    width: 120px;
}

.set_transparent {
    opacity: 0;
}

.ctrl_container {
    display: flex;
    flex-direction: row;
}

.range_btn {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    font-size: 14pt;
    background-color: lightgray;
    color: black;
    border: none;
}

.inner_container {
    margin-left: 10px;
    margin-right: 10px;
}

.range_set {
    margin-top: 10px;
    margin-bottom: 10px;

}

.tryset {
    margin-left: 175px;
}

.trylist {
    margin-left: 185px;
}

.write2f {
    margin-left: 64px;
    margin-bottom: 10px;
}

.frame_list {
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.frame_list.no_frame {
    border: 0px;
}

.blink {
    -webkit-animation: blink 1s ease infinite;
    animation: blink 0.5s ease infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}